body {
  background-color: black;
  background-image: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin: auto;
  width: 700px;
  padding: 70px;
  background-color: rgba(200,200,230,0.45);
  font-size: 30px;
  font-weight: bold;
  color: rgb(10,10,40)
}